
.layer-switcher {
  position: initial;
}

.layer-switcher ul {
    padding: inherit;	
}

[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }
[touch-action="auto"]{ -ms-touch-action: auto; touch-action: auto; }
[touch-action~="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }
[touch-action~="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }
[touch-action~="pan-up"]{ -ms-touch-action: pan-up; touch-action: pan-up; }
[touch-action~="pan-down"]{ -ms-touch-action: pan-down; touch-action: pan-down; }
[touch-action~="pan-left"]{ -ms-touch-action: pan-left; touch-action: pan-left; }
[touch-action~="pan-right"]{ -ms-touch-action: pan-right; touch-action: pan-right; }
